! Command: show running-config
! device: {{ hostname }} (vEOS, EOS-4.15.2F)
!
! boot system flash:vEOS-lab.swi
!
transceiver qsfp default-mode 4x10G
!
hostname {{ hostname }}
ip domain-name ntc.com
!
snmp-server community networktocode ro
!
spanning-tree mode mstp
!
aaa authorization exec default local
!
no aaa root
!
username ntc privilege 15 secret 5 $1$KergS3bl$RFVho/GXf.3bQHhOCbeky1
!
vrf definition MANAGEMENT
   rd 100:100
!
{% for int in interfaces -%}
interface {{ int.name }}
   no switchport
   description {{ int.description }}
   ip address {{ int.ip4_addr }}
   ipv6 address {{ int.ip6_addr }}
!
{% endfor %}
!
interface Loopback0
   ip address {{ lo_ip4_addr }}
   ipv6 address {{ lo_ip6_addr }}
!
interface Management1
   vrf forwarding MANAGEMENT
   ip address {{ mgmt_addr }}/24
!
ip route vrf MANAGEMENT 0.0.0.0/0 10.0.0.2
!
ip routing
ip routing vrf MANAGEMENT
!
ip prefix-list AGGREGATE seq 10 permit {{ bgp_ip4_aggregate }}
!
ipv6 prefix-list AGGREGATE-V6
   seq 10 permit {{ bgp_ip6_aggregate }}
!
ipv6 unicast-routing
!
route-map BB-OUT permit 10
   match ip address prefix-list AGGREGATE
!
route-map BB-OUT deny 65000
!
route-map BB-V6-OUT permit 10
   match ipv6 address prefix-list AGGREGATE-V6
!
route-map BB-V6-OUT deny 65000
!
router bgp {{ bgp_asn }}
   maximum-paths 16
   neighbor BB peer-group
   neighbor BB remote-as 65000
   neighbor BB route-map BB-OUT out
   neighbor BB-V6 peer-group
   neighbor BB-V6 remote-as 65000
   neighbor BB-V6 route-map BB-V6-OUT out
   neighbor LEAF peer-group
   neighbor LEAF allowas-in
   neighbor LEAF-V6 peer-group
   neighbor LEAF-V6 allowas-in
   address-family ipv4
     neighbor BB activate
     neighbor LEAF activate
     no neighbor BB-V6 activate
     no neighbor LEAF-V6 activate
   address-family ipv6
     neighbor BB-V6 activate
     neighbor LEAF-V6 activate
     no neighbor BB activate
     no neighbor LEAF activate
   {% for peer in bb_peers -%}
   neighbor {{ peer.ip4_peer_addr }} peer-group BB
   neighbor {{ peer.ip6_peer_addr }} peer-group BB-V6
   {% endfor %}
   {% for peer in leaf_peers -%}
   neighbor {{ peer.ip4_peer_addr }} remote-as {{ peer.asn }}
   neighbor {{ peer.ip4_peer_addr }} description {{ peer.description }}
   neighbor {{ peer.ip4_peer_addr }} peer-group LEAF
   neighbor {{ peer.ip6_peer_addr }} remote-as {{ peer.asn }}
   neighbor {{ peer.ip6_peer_addr }} description {{ peer.description }}
   neighbor {{ peer.ip6_peer_addr }} peer-group LEAF-V6
   {% endfor %}
   aggregate-address {{ bgp_ip4_aggregate }}
   aggregate-address {{ bgp_ip6_aggregate }}
   redistribute connected
!
management api http-commands
   protocol http
   no shutdown
   vrf MANAGEMENT
      no shutdown
!
management ssh
   vrf MANAGEMENT
      no shutdown
!
!
end
